
@{
    ViewData["Title"] = "AddPrice";
}
<script src="~/lib/jquery/dist/jquery.js"></script>
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<link href="~/layuiadmin/layui/css/layui.css" rel="stylesheet" />
<link href="~/layuiadmin/style/admin.css" rel="stylesheet" />
<h1>AddPrice</h1>

<table class="layui-table">
    <tr><td><h3><label style="color:red">*</label>商品名称</h3></td></tr>
    <tr>
        <td>
            <select id="name" class="layui-select" style="width:150px">
                <option value="">选择商品</option>

            </select>
        </td>
    </tr>
    <tr>
        <td>进货价格</td>
        <td><input id="jinhprice" type="text" placeholder="请输入关键字" class="layui-input search_input"></td>
    </tr>
    <tr>
        <td><input id="btn_add" type="button" value="保存" class="btn layui-btn-primary" /></td>
        <td></td>
    </tr>
</table>

<script>

    //绑定商品名称
    $.ajax("http://localhost:52645/api/Goods/ShowName",
        {
            type: "get",
            dataType: "json"
        }).done(function (data) {
            $.each(data, function (index, item) {
                var option = '<option value=\"' + item.id + '\">' + item.goodsName + '</option>';
                $("#name").append(option);
            })
        })

    //添加商品价格本
    $("#btn_add").click(function () {
        var obj =
        {
            "Id": $("#name").val().toString(),
            "JinHPrice": $("#jinhprice").val().toString()
        };

        $.ajax("http://localhost:52645/api/Goods/AddPrice",
            {
                type: "post",
                data: obj,
                dataType: "json",
                contentType: "application/x-www-form-urlencoded"
            }).done(function (code) {
                if (code > 0) {
                    alert("保存成功!");
                    location.href = "GoodsPriceInfo";
                }
                else {
                    alert("保存失败!");
                }
            })
    })
</script>
