
@{
    ViewData["Title"] = "GoodsPriceInfo";
}
<script src="~/lib/jquery/dist/jquery.js"></script>
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<link href="~/layuiadmin/layui/css/layui.css" rel="stylesheet" />
<link href="~/layuiadmin/style/admin.css" rel="stylesheet" />

<h1>商品价格信息</h1>
<style>

    .layui-col-space15 > * {
        padding: 7.5px;
        width: 100%;
    }

    .alert {
        width: 90%;
        text-align: center;
        color: #fff;
        margin: 10px auto;
        border-radius: 5px;
        line-height: 30px;
        cursor: pointer;
        background: #4ab819;
    }

    .confirm {
        background: #196fb8;
    }

    .open {
        background: #f88408;
    }

    .toast {
        background: #f80851;
    }

    .later {
        background: #a9a9a9;
    }
</style>

<div class="layui-inline">
    <div class="layui-input-inline">
        <input id="goodsId" type="text" placeholder="请输入商品编号" class="layui-input search_input">
    </div>
    <a class="layui-btn search_btn" onclick="searchData();"><i class="layui-icon layui-icon-search"></i> 查询</a>
    <div class="layui-inline">
        <a class="layui-btn layui-btn-normal newsAdd_btn" onclick="add()">
            <i class="layui-icon layui-icon-add-1"></i>
            添加价格本
        </a>
    </div>
</div>

<div style="padding: 15px; background-color: #F2F2F2;">
    <table class="layui-table">
        <tr>
            <th><input id="Checkall" type="checkbox" /></th>
            <th>商品编号</th>
            <th>商品名称</th>
            <th>商品品牌</th>
            <th>商品分类</th>
            <th>商品规格</th>
            <th>单位</th>
            <th>出售价格</th>
            <th>进货价格</th>
            <th>操作</th>
        </tr>
        <tbody id="tb">
        </tbody>
    </table>
</div>

<div style="float:left;margin-right:50px">
    <button id="first" type="button" class="layui-btn layui-btn-sm">首页</button>
    <button id="up" type="button" class="layui-btn layui-btn-sm">上一页</button>
    <button id="next" type="button" class="layui-btn layui-btn-sm">下一页</button>
    <button id="end" type="button" class="layui-btn layui-btn-sm">尾页</button>
</div>


<script>
    var pageIndex = 1;
    var pageSize = 8;
    var total = 0;
    var goodsprice = "";

    $(function () {
        Show(pageIndex);
        Page();
        Fenye();
        goods();
    });

    //显示信息
    function Show(pageIndex) {
        var obj = {
            "pageIndex": pageIndex.toString(),
            "pageSize": pageSize.toString(),
            "goodsId": $("#goodsId").val().toString()
        };


        $.ajax("http://192.168.0.190:8085/api/Goods/ShowGoodsPrice",
            {
                type: "post",
                data: obj,
                dataType: "json",
                contentType: "application/x-www-form-urlencoded"
            }).done(function (data) {
                ShowInfo(data.plist);
                total = data.count;
            });
    }

    function ShowInfo(data) {
        $("#tb").empty();
        $.each(data, function (index, item) {
            goodsprice = item.goodsPrices;
            var list = "<tr>" +
                '<td><input id="Checkbox1" class="check" type="checkbox" /></td>' +
                "<td>" + item.goodsId + "</td>" +
                "<td>" + item.goodsName + "</td>" +
                "<td>" + item.goodsBrand + "</td>" +
                "<td>" + item.typeName + "</td>" +
                "<td>" + item.goodsRule + "</td>" +
                "<td>" + item.sku + "</td>" +
                "<td>" + item.goodsPrices + "</td>" +
                "<td>" + item.jinHPrice + "</td>" +
                '<td><input id="Button1" type="button" class="layui-btn layui-btn-warm" onclick=upd(\'' + item.priceId + '\') value="编辑" />' +
                "</tr>";
            $("#tb").append(list);
        })
    }

    var priceId = "";
    //编辑按钮
    function upd(priceId) {
        layui.use('layer', function () {
            var layer = layui.layer;
            goods();

            layer.open({
                title: '修改价格'
                , content: list()
            });

            //反填信息
            $.ajax("http://192.168.0.190:8085/api/Goods/SelectPrice?priceId=" + priceId,
                {
                    type: "get"
                }).done(function (data) {
                    $("#name").val(data.id);
                    $("#jinhprice").val(data.jinHPrice);
                    priceId = data.priceId;
                });

            //添加商品价格本
            $("#btn_add").click(function () {
                var obj =
                {
                    "PriceId": priceId,
                    "Id": $("#name").val().toString(),
                    "JinHPrice": $("#jinhprice").val().toString()
                };

                //非空判断
                if (obj.PriceId == "" || obj.PriceId == null || obj.PriceId == undefined) {
                    alert("不能为空！");
                    return;
                }
                if (obj.Id == "" || obj.Id == null || obj.Id == undefined) {
                    alert("不能为空！");
                    return;
                }
                if (obj.JinHPrice == "" || obj.JinHPrice == null || obj.JinHPrice == undefined || parseFloat(obj.JinHPrice) <= 0 || parseFloat(obj.JinHPrice) > parseFloat(goodsprice)) {
                    alert("不能为空！");
                    return;
                }
                else if (isNaN(obj.JinHPrice)) {
                    alert("请填写正确的数值!");
                    return;
                }

                $.ajax("http://192.168.0.190:8085/api/Goods/UpdatePrice",
                    {
                        type: "post",
                        data: obj,
                        dataType: "json",
                        contentType: "application/x-www-form-urlencoded"
                    }).done(function (code) {
                        if (code > 0) {
                            alert("修改成功!");
                            location.href = "GoodsPriceInfo";
                        }
                        else {
                            alert("修改失败!");
                        }
                    })
            })
        });
    }

    //价格本布局
    function list() {
        var list = '<table class="layui-table">' +
            '<tr><td><h3>商品名称</h3></td></tr>' +
            '<tr>' +
            '<td><label style="color:red">*</label>商品名称</td>' +
            '<td>' +
            '<select id="name" class="layui-select" style="width:150px">' +
            '<option value="">选择商品</option>' +

            '</select>' +
            '</td>' +
            '</tr>' +
            '<tr>' +
            '<td><label style="color:red">*</label>进货价格</td>' +
            '<td><input id="jinhprice" type="text" placeholder="请输入关键字" class="layui-input search_input"></td>' +
            '</tr>' +
            '<tr>' +
            '<td><input id="btn_add" type="button" value="保存" class="btn layui-btn-primary" /></td>' +
            '</tr>' +
            '</table>';
        return list;
    }

    //添加价格本
    function add() {
        layui.use('layer', function () {
            var layer = layui.layer;

            layer.open({
                title: '添加价格本',
                area: ['800px', '500px']
                , content: list()
            });
            goods();

            //添加商品价格本
            $("#btn_add").click(function () {
                var obj =
                {
                    "Id": $("#name").val().toString(),
                    "JinHPrice": $("#jinhprice").val().toString()
                };

                //正则表达式
                var reg = /^[^\s]*$/;
                if (!reg.test(obj.JinHPrice)) {
                    $('#jinhprice').focus();
                    alert("不能输入空格！");
                    return;
                }

                if (obj.Id == "" || obj.Id == null || obj.Id == undefined) {
                    alert("不能为空！");
                    return;
                }
                if (obj.JinHPrice == "" || obj.JinHPrice == null || obj.JinHPrice == undefined || parseFloat(obj.JinHPrice) <= 0 || parseFloat(obj.JinHPrice) > parseFloat(goodsprice)) {
                    alert("进货价格不能为空或小于0或大于出售价格！");
                    return;
                }
                else if (isNaN(obj.JinHPrice)) {
                    alert("请填写正确的数值!");
                    return;
                }

                var codes = 0;
                $.ajax("http://192.168.0.190:8085/api/Goods/PricesInfo",
                    {
                        type: "get"
                    }).done(function (data) {

                        $.each(data, function (index, item) {
                            if (obj.Id == item.id) {
                                codes = 1
                                return codes;
                            }
                        })
                        if (codes > 0) {
                            alert("此商品已有!");
                            return;
                        }
                        else {
                            addp();
                        }
                    })

                function addp() {
                    $.ajax("http://192.168.0.190:8085/api/Goods/AddPrice",
                        {
                            type: "post",
                            data: obj,
                            dataType: "json",
                            contentType: "application/x-www-form-urlencoded"
                        }).done(function (code) {
                            if (code > 0) {
                                alert("保存成功!");
                                location.href = "GoodsPriceInfo";
                            }
                            else {
                                alert("保存失败!");
                            }
                        })
                }

            })

            //取消添加
            $("#btn_back").click(function () {
                history.back();
            })
        })
     }
            

    //绑定商品名称
    function goods() {
        $.ajax("http://192.168.0.190:8085/api/Goods/ShowName",
            {
                type: "get",
                dataType: "json"
            }).done(function (data) {
                $.each(data, function (index, item) {
                    var option = '<option value=\"' + item.id + '\">' + item.goodsName + '</option>';
                    $("#name").append(option);
                })
            })
    }

    //全选
    function Page() {
        $("#Checkall").click(function () {
            if ($("#Checkall").prop("checked") == true) {
                $(".check").prop("checked", true);
            }
            else {
                $(".check").prop("checked", false);
            }
        });
    };

    //查询按钮
    function searchData() {
        Show(pageIndex = 1);
    }

    //分页按钮
    function Fenye() {
        //首页
        $("#first").click(function () {
            pageIndex = 1;
            Show(pageIndex);
        })

        //上一页
        $("#up").click(function () {
            if (pageIndex <= 1) {
                alert("已经是第一页了");
            }
            else {
                pageIndex = pageIndex - 1;
                Show(pageIndex);
            }
        })

        //下一页
        $("#next").click(function () {
            if (pageIndex >= total) {
                alert("已经是最后一页了");
            }
            else {
                pageIndex = pageIndex + 1;
                Show(pageIndex);
            }
        })

        //尾页
        $("#end").click(function () {
            pageIndex = total;
            Show(pageIndex);
        })
    }

</script>