@{
    Layout = null;
}
<script src="~/lib/jquery/dist/jquery.js"></script>
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<link href="~/layuiadmin/layui/css/layui.css" rel="stylesheet" />
<link href="~/layuiadmin/style/admin.css" rel="stylesheet" />

<div class="layui-card">
    <div class="layui-card-header">
        <h1>商品品牌</h1>
    </div>
    <div class="layui-card-body">
        <blockquote class="layui-elem-quote role_search">           
            <div class="layui-inline">
                <a class="layui-btn layui-btn-danger batchDel" onclick="delDatas();"><i class="layui-icon layui-icon-delete"></i> 批量删除</a>
            </div>
            <div class="layui-inline">
                <div class="layui-input-inline">
                    <input id="goodsId" type="text" placeholder="请输入商品编号" class="layui-input search_input">
                </div>
                <div class="layui-input-inline">
                    <input id="goodsName" type="text" placeholder="请输入商品名称" class="layui-input search_input">
                </div>
                <div class="layui-input-inline">
                    <input id="goodsBrand" type="text" placeholder="请输入商品品牌" class="layui-input search_input">
                </div>
                <a class="layui-btn search_btn" onclick="searchData();"><i class="layui-icon layui-icon-search"></i> 查询</a>
            </div>
        </blockquote>
    </div>
</div>
<div style="padding: 15px; background-color: #F2F2F2;">
    <table class="layui-table">
        <tr>
            <th><input id="Checkall" type="checkbox" /></th>
            <th>商品编号</th>
            <th>商品名称</th>
            <th>商品图片</th>
            <th>商品价格</th>
            <th>商品品牌</th>
            <th>商品属性</th>
            <th>库存</th>
            <th>商品状态</th>
            <th>操作</th>
        </tr>
        <tbody id="tb">
        </tbody>
    </table>
</div>
<div class="page-item">
    <button type="button" id="first" class="layui-btn layui-btn-sm layui-btn-primary">
        <i class="layui-icon">&#xe65a;</i>
    </button>
    <button type="button" id="up" class="layui-btn layui-btn-sm layui-btn-primary">
        <i class="layui-icon">&#xe603;</i>
    </button>
    <button type="button" id="next" class="layui-btn layui-btn-sm layui-btn-primary">
        <i class="layui-icon">&#xe602;</i>
    </button>
    <button type="button" id="end" class="layui-btn layui-btn-sm layui-btn-primary">
        <i class="layui-icon">&#xe65b;</i>
    </button>
</div>
<img style="width:100px;height:80px" />
<script>
    var pageIndex = 1;
    var pageSize = 10;
    var total = 0;

    $(function () {
        Show(pageIndex);
        Page();
        Fenye();
    });


    //商品显示
    function Show(pageIndex) {
        var obj = {
            "pageIndex": pageIndex.toString(),
            "pageSize": pageSize.toString(),
            "goodsId": $("#goodsId").val().toString(),
            "goodsName": $("#goodsName").val().toString(),
            "goodsBrand": $("#goodsBrand").val().toString()
        };

        $.ajax("http://localhost:52645/api/Goods/ShowGoodsInfo",
            {
                type: "post",
                data: obj,
                dataType: "json",
                contentType: "application/x-www-form-urlencoded"
            }).done(function (data) {
                ShowInfo(data.list);
                total = data.count;
            });
    }

    function ShowInfo(data) {
        $("#tb").empty();
        $.each(data, function (index, item) {
            var id = item.id.toString();
            var list = "<tr>" +
                '<td><input id="Checkbox1" class="check" value="' + item.id + '" type="checkbox" /></td>' +
                "<td>" + item.goodsId + "</td>" +
                "<td>" + item.goodsName + "</td>" +
                "<td><img style='width: 60px; height: 40px' src=" + item.goodsImg + " /></td>" +
                "<td>￥" + item.goodsPrices + "</td>" +
                "<td>" + item.goodsBrand + "</td>" +
                "<td>" + item.color + "/" + item.size + "</td>" +
                "<td>剩余：" + item.goodsStock + "</td>";
            if (item.goodsState == 0) {
                list += '<td><label class="layui-text-center">上架中</label></td>';
                list += '<td><input id="Button1" type="button" class="layui-btn layui-btn-warm" onclick=del(\'' + id + '\') value="删除" /><input id="Button1" type="button" value="下架" onclick=down(\'' + id + '\') class="layui-btn layui-btn-danger" /></td>';
            }
            else {
                list += '<td><label class="layui-text-center">下架</label></td>';
                list += '<td><input id="Button1" type="button" class="layui-btn layui-btn-warm" onclick=del(\'' + id + '\') value="删除" /><input id="Button1" type="button" value="下架" class="layui-btn layui-btn-disabled" onclick=down(\'' + id + '\') disabled="disabled" /></td>';
            }
            list += "</tr>";
            $("#tb").append(list);
        })
    }

    //分页
    function Fenye() {
        //首页
        $("#first").click(function () {
            pageIndex = 1;
            Show(pageIndex);
        })

        //上一页
        $("#up").click(function () {
            if (pageIndex <= 1) {
                alert("已经是第一页了");
            }
            else {
                pageIndex = pageIndex - 1;
                Show(pageIndex);
            }
        })

        //下一页
        $("#next").click(function () {
            if (pageIndex >= total) {
                alert("已经是最后一页了");
            }
            else {
                pageIndex = pageIndex + 1;
                Show(pageIndex);
            }
        })

        //尾页
        $("#end").click(function () {
            pageIndex = total;
            Show(pageIndex);
        })
    }

    //查询
    function searchData() {
        Show(pageIndex = 1);
    }

    //下架
    function down(id) {
        if (confirm("确定下加吗?")) {
            $.ajax("http://localhost:52645/api/Goods/UpdateState",
                {
                    type: "get",
                    data: { Id: id }
                }).done(function (code) {
                    if (code > 0) {
                        alert("下架成功!");
                        location.reload();
                    }
                    else {
                        alert("下架失败!");
                    }
                })
        }
    }

    //删除
    function del(id) {
        if (confirm("确定删除吗?")) {
            $.ajax("http://localhost:52645/api/Goods/DelGoodsInfo",
                {
                    type: "get",
                    data: { Id: id }
                }).done(function (code) {
                    if (code > 0) {
                        alert("删除成功!");
                        location.reload();
                    }
                    else {
                        alert("删除失败!");
                    }
                })
        }
    }

    //全选
    function Page() {
        $("#Checkall").click(function () {
            if ($("#Checkall").prop("checked") == true) {
                $(".check").prop("checked", true);
            }
            else {
                $(".check").prop("checked", false);
            }
        });
    };

    //批量删除
    function delDatas() {
        var ids = "";

        if (ids == "") {
            alert("请选择要删除的信息!");
        }
        else {
            $(".check").each(function (index, item) {
                if ($(item).prop("checked") == true) {
                    ids = ids + $(item).val() + ",";
                }
            })
            ids = ids.substring(0, ids.length - 1);

            if (confirm("确定删除吗?")) {
                $.ajax("http://localhost:52645/api/Goods/DelGoodsInfo",
                    {
                        type: "get",
                        data: { Id: ids }
                    }).done(function (code) {
                        if (code > 0) {
                            alert("删除成功!");
                            $(".check:checked").each(function (index, i) {
                                $(i).parent().parent().remove();
                            })
                        }
                        else {
                            alert("删除失败!");
                        }
                    })
            }
        }
    }

</script>