
@{
    ViewData["Title"] = "Add";
}

<h2>基本信息</h2>
<div class="layui-form-item">
    <div class="layui-inline">
        <label class="layui-form-label"><span style="color:red">*</span>退货日期</label>
        <div class="layui-input-inline">
            <input type="date" id="TuiHuoDate" required placeholder="请输入退货日期" class="layui-input" />
        </div>
        <label class="layui-form-label"><span style="color:red">*</span>退货发起人</label>
        <div class="layui-input-inline">
            <input type="text" id="FaQiRen" required placeholder="请输入退货发起人" class="layui-input" />
        </div>
    </div>

    <div class="layui-inline">
        <label class="layui-form-label"><span style="color:red">*</span>供应商名称</label>
        <div class="layui-input-inline">
            <select id="Name" required>
                <option value="">请选择</option>
            </select>
        </div>
        <label class="layui-form-label"><span style="color:red">*</span>退货仓库</label>
        <div class="layui-input-inline">
            <select id="CangKu" required>
                <option value="">请选择</option>

            </select>
        </div>
    </div>
</div>

<div>
    <h2>商品添加</h2>
    <input type="button" value="添加商品" style="width:100px;float:right;" onClick="AddGoods()" class="layui-btn" />
</div>

<table class="layui-table">
    <colgroup>
        <col width="150">
        <col width="200">
        <col>
    </colgroup>
    <thead>
        <tr style="background-color:gainsboro">
            <th>商品编号</th>
            <th>商品名称</th>
            <th>规格</th>
            <th>单位</th>
            <th>采购单价</th>
            <th>可退货数量</th>
            <th>退货金额</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody id="tbody"></tbody>
</table>
<button type="button" id="Save" class="layui-btn" onclick="Role_Add()">保存</button>
<button type="button" id="Back" class="layui-btn" onclick="Back()">返回</button>
<script>
    var s = 0;

    //页面初始化
    $(function () {
        CangKu();
        GongYingShang();
        show();
    })

    //绑定下拉框
    function CangKu() {
        $.ajax("http://192.168.0.190:8085/api/TuiHuo/GetStorage", {
            type: "get",
            dataType: "json",
            success: function (d) {
                //循环
                $(d).each(function (index, item) {
                    var str = '<option value="' + item.id + '">' + item.storageName + '</option>';
                    $("#CangKu").append(str);
                })
            }
        })
    }

    //绑定下拉框
    function GongYingShang() {
        $.ajax("http://192.168.0.190:8085/api/TuiHuo/GetSuppliers", {
            type: "get",
            dataType: "json",
            success: function (d) {
                //循环
                $(d).each(function (index, item) {
                    var str = '<option value="' + item.gysId + '">' + item.dwName + '</option>';
                    $("#Name").append(str);
                })
            }
        })
    }

    //显示商品
    function show() {
        $.ajax({
            url: "http://192.168.0.190:8085/api/TuiHuo/GetShowGoods",
            type: "get",
            dataType: "json",
            success: function (d) {
                //清空
                $("#tbody").empty();
                //循环
                $(d).each(function (index, item) {
                    var str = '<tr>' +
                        '<th>' + item.goodsId + '</th>' +
                        '<th>' + item.goodsName + '</th>' +
                        '<th>' + item.goodsRule + '</th>' +
                        '<th>' + item.sku + '</th>' +
                        '<th>' + item.jinHPrice + '</th>' +
                        '<th>' + item.goodsStock + '</th>' +
                        '<th>' + (item.jinHPrice * item.goodsStock) + '</th>' +
                        '<th><input type="button" onclick="Del(\'' + item.priceId + '\')" value="删除" style="background-color:red" class="layui-btn layui-btn-normal" /></th>' +
                        '</tr> ';

                    $("#tbody").append(str);
                    s++;
                })
            }
        })
    }

    //返回
    $("#Back").click(function () {
        window.location.href = "Index";
    })

    //保存
    $("#Save").click(function () {
        var obj = {
            "TuiHuoTime": $("#TuiHuoDate").val(),
            "GysID": $("#Name").val(),
            "THFqr": $("#FaQiRen").val(),
            "TCangKu": $("#CangKu").val(),
        };
        //判断
        if (obj.TuiHuoTime == '' || obj.TuiHuoTime == null || obj.TuiHuoTime == undefined) {
            return alert("退货日期不能为空!");
        }
        if (obj.GysID == '') {
            return alert("请选择供应商");
        }
        if (obj.THFqr == '' || obj.THFqr == null || obj.THFqr == undefined) {
            return alert("退货发起人不能为空!");
        }
        else {
            var reg = /^[^\s]*$/;
            if (!reg.test(obj.THFqr)) {
                return alert("不能输入空格！");
            }
            var re = /[^u4e00-u9fa5]/;
            if (!re.test(obj.THFqr)) {
                return alert("退货发起人只能输入汉字");
            }
        }
        if (obj.TCangKu == '') {
            return alert("请选择退货仓库");
        }
        if (s > 0) {
            //添加
            $.ajax({
                url: "http://192.168.0.190:8085/api/TuiHuo/AddTuiHuo",
                type: "post",
                dataType: "text",
                data: { m: obj },
                accepts: "application/x-www-form-urlencoded",
                contentType: "application/x-www-form-urlencoded",
                success: function (d) {
                    //判断
                    if (d > 0) {
                        alert("添加成功!");
                        window.location.href = "Index";
                    }
                    else {
                        alert("添加失败!");
                    }
                }
            })
        }
        else {
            alert("请先添加退货商品");
        }
    })

    //删除
    function Del(id) {
        if (confirm("确认删除吗?")) {
            $.ajax({
                url: "http://192.168.0.190:8085/api/TuiHuo/DeleteGoods",
                type: "post",
                dataType: "text",
                data: { id: id },
                accepts: "application/x-www-form-urlencoded",
                contentType: "application/x-www-form-urlencoded",
                success: function (d) {
                    //判断
                    if (d > 0) {
                        alert("删除成功!");
                        window.location.reload();
                    }
                    else {
                        alert("删除失败!");
                    }
                }
            })
        }
    }

    //弹出层添加商品
    function AddGoods() {
        ShowAdd();
    }

    function ShowAdd() {
        layui.use('layer', function () {
            var layer = layui.layer;

            //页面层
            layer.open({
                type: 1,
                title: '添加商品',
                area: ['1000px', '500px'],
                content: '<table class="layui-table">' +
                    '<colgroup><col width="150"><col width="200"><col></colgroup>' +
                    '<thead><tr style="background-color:gainsboro">' +
                    '<th><input type="checkbox" id="ck" onclick="cks()" lay-skin="primary" /></th>' +
                    '<th>商品编号</th>' +
                    '<th>商品名称</th>' +
                    '</tr></thead>' +
                    '<tbody id="tbodys"></tbody></table>' +
                    '<input type="button" onclick="Save()" value="保存" style="background-color:forestgreen" class="layui-btn layui-btn-normal" />',
            });

            //显示商品
            Goods();
        });
        

        //全选/反选
        function cks() {
            cks();
        }


        //保存
        function Save() {
            Save();
        }
    }

    //绑定商品
    function Goods() {
        $.ajax("http://192.168.0.190:8085/api/TuiHuo/GetGoods", {
            type: "get",
            dataType: "json",
            success: function (d) {
                //循环
                $(d).each(function (index, item) {
                    var str = '<tr>' +
                        '<th><input type="checkbox" class="che" value="' + item.priceId + '" lay-skin="primary" /></th>' +
                        '<th>' + item.priceId + '</th>' +
                        '<th>' + item.goodsName + '</th>' +
                        '</tr>';
                    $("#tbodys").append(str);
                })
            }
        })
    }

    //全选/反选
    function cks() {
        if ($("#ck").prop("checked") == true) {
            $(".che").prop("checked", true);
        }
        else {
            $(".che").prop("checked", false);
        }
    }

    //添加商品
    function Save() {
        //复选框
        var ids = "";
        $(".che").each(function (index, item) {
            if ($(item).prop("checked") == true) {
                ids = ids + $(item).val() + ",";
            }
        })
        if (ids == "") {
            return alert("请选择要添加的数据");
        }
        else {
            ids = ids.substring(0, ids.length - 1);
            $.ajax({
                url: "http://192.168.0.190:8085/api/TuiHuo/AddGoods",
                type: "post",
                dataType: "text",
                data: { id: ids },
                accepts: "application/x-www-form-urlencoded",
                contentType: "application/x-www-form-urlencoded",
                success: function (d) {
                    //判断
                    if (d == 1) {
                        alert("添加成功!");
                        window.location.reload(); //刷新父窗口中的网页
                    }
                    else if (d == -1) {
                        alert("数据添加不全!");
                    }
                    else {
                        alert("添加失败!");
                    }
                }
            })
        }
    }
    
</script>