
@{
    ViewData["Title"] = "AddGoods";
}

<div style="width:500px;height:300px;margin:auto">
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">商品</label>
            <div class="layui-input-inline">
                <select id="GoodsName" required>
                    <option value="">请选择</option>
                </select>
            </div>
        </div>
    </div>
    <input type="button" id="Back" value="返回" style="background-color:gray" class="layui-btn layui-btn-normal" />
    <input type="button" id="Save" value="保存" style="background-color:cornflowerblue" class="layui-btn layui-btn-normal" />
</div>


<script>
    //页面初始化
    $(function () {
        Goods();
    })

    //绑定下拉框
    function Goods() {
        $.ajax("http://localhost:52645/api/TuiHuo/GetGoods", {
            type: "get",
            dataType: "json",
            success: function (d) {
                //循环
                $(d).each(function (index, item) {
                    var str = '<option value="' + item.priceId + '">' + item.goodsName + '</option>';
                    $("#GoodsName").append(str);
                })
            }
        })
    }

    //返回
    $("#Back").click(function () {
        window.close(this);   //关闭当前窗窗口
    })

    //保存
    $("#Save").click(function () {
        var id = $("#GoodsName").val();
        $.ajax({
            url: "http://localhost:52645/api/TuiHuo/AddGoods",
            type: "post",
            dataType: "text",
            data: { id, id },
            accepts: "application/x-www-form-urlencoded",
            contentType: "application/x-www-form-urlencoded",
            success: function (d) {
                //判断
                if (d > 0) {
                    alert("添加成功!");
                    window.opener.location.reload(); //刷新父窗口中的网页
                }
                else {
                    alert("添加失败!");
                }
            }
        })
    })

</script>
