
@{
    ViewData["Title"] = "Index";
}

<div class="layui-form-item">
    <div class="layui-inline">
        <label class="layui-form-label">退货单状态</label>
        <div class="layui-input-inline">
            <select id="States" lay-verify="">
                <option value="">请选择退货单状态</option>
                <option value="0">待审核</option>
                <option value="1">审核通过</option>
                <option value="2">审核拒绝</option>
            </select>
        </div>
    </div>

    <div class="layui-inline">
        <label class="layui-form-label">发起日期</label>
        <div class="layui-input-inline">
            <input type="date" id="CreateDate" placeholder="请输入创建日期" class="layui-input" />
        </div>
    </div>

    <div class="layui-inline">
        <label class="layui-form-label">供应商名称</label>
        <div class="layui-input-inline">
            <input type="text" id="GysName" placeholder="请输入供应商名称" class="layui-input" />
        </div>
    </div>

    <div class="layui-inline">
        <label class="layui-form-label">退货仓库</label>
        <div class="layui-input-inline">
            <select id="CangKu" lay-verify="">
                <option value="">请选择退货仓库</option>
            </select>
        </div>
    </div>
</div>

<input type="button" id="Cha" value="搜索" style="background-color:forestgreen" class="layui-btn" />
<input type="button" id="Add" value="添加" style="background-color:cornflowerblue" class="layui-btn layui-btn-normal" />

<table class="layui-table">
    <colgroup>
        <col width="150">
        <col width="200">
        <col>
    </colgroup>
    <thead>
        <tr style="background-color:gainsboro">
            <th>发起日期</th>
            <th>退货日期</th>
            <th>退货单号</th>
            <th>退货单状态</th>
            <th>供应商名称</th>
            <th>发起人</th>
            <th>退货仓库</th>
            <th>退货联系人</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody id="tbody"></tbody>
</table>

<div>
    <a id="First" class="layui-form-label">首页</a>
    <a id="Per" class="layui-form-label">上一页</a>
    <a id="Next" class="layui-form-label">下一页</a>
    <a id="Last" class="layui-form-label">尾页</a>
</div>

<script>
    var PageIndex = 1;
    var PageSize = 3;
    var count = 0;

    //页面初始化
    $(function () {
        show(PageIndex);
        CangKu();
    })
    //显示
    function show(PageIndex) {
        var obj = {
            "PageIndex": PageIndex,
            "PageSize": PageSize,
            "States": $("#States").val(),
            "CreateDate": $("#CreateDate").val(),
            "DwName": $("#GysName").val(), 
            "StorageName": $("#CangKu").val()
        };
        //显示
        $.ajax("http://192.168.0.190:8085/api/TuiHuo/GetTuiHuos", {
            type: "post",
            dataType: "json",
            data: obj,
            success: function (d) {
                count = d.rowCount;
                //清空
                $("#tbody").empty();
                //循环
                $(d.list).each(function (index, item) {
                    var str = '<tr>' +
                        '<td>' + item.createTime.split('T')[0] + '</td>' +
                        '<td>' + item.tuiHuoTime.split('T')[0] + '</td>' +
                        '<td>' + item.id + '</td>';
                    if (item.states == 0) {
                        str += '<td>待审核</td>';
                    }
                    if (item.states == 1) {
                        str += '<td>审核通过</td>';
                    }
                    if (item.states == 2) {
                        str += '<td>审核拒绝</td>';
                    }
                    str += '<td>' + item.dwName + '</td>' +
                        '<td>' + item.thFqr + '</td>' +
                        '<td>' + item.storageName + '</td>' +
                        '<td>' + item.lxrName + '</td>';
                    if (item.states == 0) {
                        str += '<td><input type="button" class="layui-btn layui-btn-primary" onclick="TongGuo(\'' + item.id + '\')" value="通过" /><input type="button" class="layui-btn layui-btn-primary" onclick="JuJue(\'' + item.id + '\')" value="拒绝" /></td></tr >';
                    }
                    else {
                        str += '<td></td></tr >';
                    }
                    $("#tbody").append(str);
                })
            }
        })
    }

    //绑定下拉框
    function CangKu() {
        $.ajax("http://192.168.0.190:8085/api/TuiHuo/GetStorage", {
            type: "get",
            dataType: "json",
            success: function (d) {
                //循环
                $(d).each(function (index, item) {
                    var str = '<option value="' + item.storageName + '">' + item.storageName + '</option>';
                    $("#CangKu").append(str);
                })
            }
        })
    }

    //搜索
    $("#Cha").click(function () {
        PageIndex = 1;
        show(PageIndex);
    })

    //首页
    $("#First").click(function () {
        PageIndex = 1;
        show(PageIndex);
    })
    //上一页
    $("#Per").click(function () {
        if (PageIndex <= 1) {
            alert("已经第一页了");
            return;
        }
        else {
            PageIndex = PageIndex - 1;
            show(PageIndex);
        }

    })
    //下一页
    $("#Next").click(function () {
        if (PageIndex >= count) {
            alert("已经最后一页了");
            return
        }
        else {
            PageIndex = PageIndex + 1;
            show(PageIndex);
        }

    })
    //尾页
    $("#Last").click(function () {
        PageIndex = count;
        show(PageIndex);
    })

    //添加
    $("#Add").click(function () {
        window.location.href = "Add";
    })

    //审核
    function TongGuo(id) {
        if (confirm("确认通过吗?")) {
            $.ajax({
                url: "http://192.168.0.190:8085/api/TuiHuo/ShenHe",
                type:"post",
                dataType: "text",
                data: { id: id,sta:1 },
                success: function (d) {
                    if (d > 0) {
                        alert("通过成功");
                        window.location.reload();
                    }
                    else {
                        alert("通过失败!");
                    }
                }
            })
        }
    }
    function JuJue(id) {
        if (confirm("确认拒绝吗?")) {
            $.ajax({
                url: "http://192.168.0.190:8085/api/TuiHuo/ShenHe",
                type: "post",
                dataType: "text",
                data: { id: id, sta: 2 },
                success: function (d) {
                    if (d > 0) {
                        alert("拒绝成功");
                        window.location.reload();
                    }
                    else {
                        alert("拒绝失败!");
                    }
                }
            })
        }
    }
</script>