
@{
    ViewData["Title"] = "AddPur";
}

<h1>AddPur</h1>

<table class="layui-table">
    <tr>
        <td>对应请购单编号</td>
        <td>
            <select id="qgid">
                <option value="请选择">请选择</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>供应商编号</td>
        <td>
            <select id="gysid">
                <option value="请选择">请选择</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>商品是否含税</td>
        <td>
            <input type="radio" name="rad" checked="checked" />含税
            <input type="radio" name="rad" />不含税
        </td>
        <td>商品税率</td>
        <td>
            <select id="shuilv">
                <option value="请选择">请选择</option>
                <option value="1%">1%</option>
                <option value="2%">2%</option>
                <option value="3%">3%</option>
                <option value="4%">4%</option>
                <option value="5%">5%</option>
                <option value="6%">6%</option>
                <option value="7%">7%</option>
                <option value="8%">8%</option>
                <option value="9%">9%</option>
                <option value="10%">10%</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>到货地址</td>
        <td><input type="text" id="address" /></td>
    </tr>
    <tr>
        <td>编辑人员</td>
        <td>
        <select id="bgname">
            <option value="请选择">请选择</option>
        </select>
        </td>
        <td>所在部门</td>
        <td>
            <select id="bgdept">
                <option value="请选择">请选择</option>
            </select>
</td>
    </tr>
    <tr>
        <td colspan="2">
            <input type="button" id="add" value="添加" class="layui-btn" />
            <input type="button" id="back" value="返回" class="layui-btn layui-btn-normal" />
        </td>
    </tr>
</table>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    //初始化
    $(function () {
        selectqgid();
        selectgysid();
    })
    //绑定请购单ID
    function selectqgid() {
        $.ajax("http://192.168.0.190:8085/api/RequList/selectQgId", {
            type: "get",
            dataType: "json"
        }).done(function (da) {
            //循环
            $.each(da, function (index, item) {
                var str = "<option value='" + item.qgId + "'>" + item.qgId + "</option>";
                $("#qgid").append(str);
            })
        })
    }
    //绑定供应商ID
    function selectgysid() {
        $.ajax("http://192.168.0.190:8085/api/RequList/selectGysId", {
            type: "get",
        }).done(function (da) {
            //循环
            $.each(da, function (index, item) {
                var str = "<option value='" + item.gysId + "'>" + item.gysId + "</option>";
                $("#gysid").append(str);
            })
        })
    }

    //绑定员工名称
    $.ajax("http://localhost:52645/api/RequList/SelectRole", {
        type: "get",
        dataType: "json",
    }).done(function (da) {

        $.each(da, function (index, item) {
            var str = "<option value='" + item.role_Name + "'>" + item.role_Name + "</option>";
            $("#bgname").append(str);
        })
    })
    //绑定部门名称
    $.ajax("http://localhost:52645/api/RequList/SelectDep", {
        type: "get",
        dataType: "json",
    }).done(function (da) {

        $.each(da, function (index, item) {
            var str = "<option value='" + item.dep_Name + "'>" + item.dep_Name + "</option>";
            $("#bgdept").append(str);
        })
    })

    var reg = /^[^\s]*$/;

    //添加
    $("#add").click(function () {
        var state = "";

        if ($("input[name='rad']").prop("checked") == true) {
            state = 1;
        }
        else {
            state = 0;
        }
        var obj = {
            "QID": $("#qgid").val().toString(),
            "GysId": $("#gysid").val().toString(),
            "IsShui": state.toString(),
            "ShuiLv": $("#shuilv").val().toString(),
            "Address": $("#address").val().toString(),
            "BgName": $("#bgname").val().toString(),
            "BgDept": $("#bgdept").val().toString(),
        };
        if (obj.QID == "请选择") {
            alert("请选择请购单");
            return;
        }
        if (obj.GysId == "请选择") {
            alert("请选择供应商");
            return;
        }
        if (obj.ShuiLv == "请选择") {
            alert("请选择税率");
            return;
        }
        if (obj.Address == "" || obj.Address == undefined || obj.Address == null) {
            alert("请输入地址");
            return;
        }
        if (!reg.test(obj.Address)) {
            alert("不能输入空格！");
            return;
        }
        if (obj.GysId == "请选择") {
            alert("请选择员工");
            return;
        }
        if (obj.BgDept == "请选择") {
            alert("请选择部门");
            return;
        }

        $.ajax("http://192.168.0.190:8085/api/RequList/AddPur", {
            type: "post",
            data: { m: obj },
            dataType: "json",
            accepts: "application/x-www-form-urlencoded",
            contentType: "application/x-www-form-urlencoded"
        }).done(function (da) {
            if (da > 0) {
                alert("添加成功");
                window.location.href = "/PurShow/GetPurList";
            }
            else {
                alert("添加失败");
            }
        })

    })

    //返回
    $("#back").click(function () {
        window.location.href = "/PurShow/GetPurList";
    })
</script>