
@{
    ViewData["Title"] = "GetPurList";
}


请购单状态
<div class="layui-input-inline">
    <select id="States" class="layui-select">
        <option value="">请选择</option>
        <option value="0">待分配</option>
        <option value="1">审核成功</option>
        <option value="2">审核失败</option>
    </select>
</div>

创建日期
<div class="layui-input-inline">
    <input type="date" id="Time" class="layui-input" />
</div>

供应商名称
<div class="layui-input-inline">
    <input type="text" id="Gname" class="layui-input" placeholder="请输入供应商名称" />
</div>

请购负责人
<div class="layui-input-inline">
    <input type="text" id="Bgname" class="layui-input" placeholder="请输入请购负责人" />
</div>

<br />
<button class="layui-btn " id="cha" style="width:80px"><i class="layui-icon layui-icon-search"></i>搜索</button>
<button class="layui-btn layui-btn-normal " id="add" style="width:80px"><i class="layui-icon layui-icon-add-1"></i>添加</button>

<table class="layui-table" border="1">
    <tr>
        <td>选择</td>
        <td>发起日期</td>
        <td>采购单编号</td>
        <td>采购单状态</td>
        <td>供应商编号</td>
        <td>供应商名称</td>
        <td>请购负责人</td>
        <td>采购处理人</td>
        <td>采购审核人</td>
        <td>财务审核人</td>
        <td>操作</td>
    </tr>
    <tbody id="body">
    </tbody>
    <tr>
        <td><input type="button" id="zhipai" value="指派" class="layui-btn" /></td>
        <td><input type="button" id="chehui" value="撤回" class="layui-btn" /></td>
    </tr>
</table>

<div style="float:left;margin-right:50px">
    <button type="button" class="layui-btn layui-btn-sm" onclick="Shouye()">首页</button>
    <button type="button" class="layui-btn layui-btn-sm" onclick="Up()">上一页</button>
    <button type="button" class="layui-btn layui-btn-sm" onclick="Next()">下一页</button>
    <button type="button" class="layui-btn layui-btn-sm" onclick="WeiYe()">尾页</button>
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    var pageindex = 1;
    var pagesize = 10;
    var count = 0;
    var Id = "";
    var name1 = "";

    //初始化
    $(function () {
        show(pageindex);
    })

    //显示
    function show(pageindex) {
        $.ajax("http://192.168.0.190:8085/api/RequList/GetPurList?state=" + $("#States").val() + "&time=" + $("#Time").val() + "&gname=" + $("#Gname").val() + "&bgname=" + $("#Bgname").val() + "&pageindex=" + pageindex + "&pagesize=" + pagesize, {
            type: "get",
            dataType: "json"
        }).done(function (da) {
            showlist(da.list);
            count = da.rowcount;
        })
    }

    function showlist(da) {
        $("#body").empty();  //清空

        $.each(da, function (index, item) {
            name1 = item.role_Name;
            var str = "";
            if (item.isState == "0") {
                str = "<tr>"
                    + "<td><input type='radio' value='" + item.id + "' name='rad' /></td>"
                    + "<td>" + item.createTime.substring(0, 10) + "</td>"
                    + "<td>" + item.cid + "</td>"
                    + "<td>待分配</td>"
                    + "<td>" + item.gid + "</td>"
                    + "<td>" + item.gLaiYuan + "</td>"
                    + "<td>" + item.bgName + "</td>"
                    + "<td>" + item.role_Name + "</td>"
                    + "<td>" + item.cgShr + "</td>"
                    + "<td>" + item.cwShr + "</td>"
                    + "<td><input type='button' value='编辑' onclick='edit(\"" + item.cid + "\",\"" + item.id + "\")' class='layui-btn layui-btn-warm layui-btn-sm' /><br /><br />"
                    + "<input type = 'button' value ='审核通过' class='layui-btn layui-btn-warm layui-btn-sm' onclick = 'Update1(\"" + item.id + "\")'/><br /><br />"
                    + "<input type = 'button' value ='审核不通过' class='layui-btn layui-btn-warm layui-btn-sm' onclick = 'Update2(\"" + item.id + "\")'/>"
                    + "</td > "
                    + "</tr>";
            }
            else if (item.isState == "1") {
                str = "<tr>"
                    + "<td><input type='radio' value='" + item.id + "' name='rad' /></td>"
                    + "<td>" + item.createTime.substring(0, 10) + "</td>"
                    + "<td>" + item.cid + "</td>"
                    + "<td>审核通过</td>"
                    + "<td>" + item.gid + "</td>"
                    + "<td>" + item.gLaiYuan + "</td>"
                    + "<td>" + item.bgName + "</td>"
                    + "<td>" + item.role_Name + "</td>"
                    + "<td>" + item.cgShr + "</td>"
                    + "<td>" + item.cwShr + "</td>"
                    + "<td><input type='button' value='编辑' onclick='edit(\"" + item.cid + "\",\"" + item.id + "\")' class='layui-btn layui-btn-warm layui-btn-sm' />"
                    + "</td > "
                    + "</tr>";
            }
            else {
                str = "<tr>"
                    + "<td><input type='radio' value='" + item.id + "' name='rad' /></td>"
                    + "<td>" + item.createTime.substring(0, 10) + "</td>"
                    + "<td>" + item.cid + "</td>"
                    + "<td>审核未通过</td>"
                    + "<td>" + item.gid + "</td>"
                    + "<td>" + item.gLaiYuan + "</td>"
                    + "<td>" + item.bgName + "</td>"
                    + "<td>" + item.role_Name + "</td>"
                    + "<td>" + item.cgShr + "</td>"
                    + "<td>" + item.cwShr + "</td>"
                    + "<td><input type='button' value='编辑' onclick='edit(\"" + item.cid + "\",\"" + item.id + "\")' class='layui-btn layui-btn-warm layui-btn-sm' />"
                    + "</td > "
                    + "</tr>";
            }
            $("#body").append(str);
        })
    }

    //首页
    function Shouye() {
        pageindex = 1;
        show(pageindex);
    }
    //上一页
    function Up() {
        pageindex = pageindex - 1 <= 0 ? 1 : pageindex - 1;
        show(pageindex);
    }
    //下一页
    function Next() {
        pageindex = pageindex + 1 > count ? count : pageindex + 1;
        show(pageindex);
    }
    //尾页
    function WeiYe() {
        pageindex = count;
        show(pageindex);
    }

    //查询
    $("#cha").click(function () {
        pageindex = 1;
        show(pageindex);
    })




    //审核通过
    function Update1(Id) {
        $.ajax("http://192.168.0.190:8085/api/RequList/UpdPurState1?Id=" + Id, {
            type: "get",
            dataType: "text"
        }).done(function (da) {
            if (da > 0) {
                alert("审核成功");
                window.location.reload();
            }
            else {
                alert("审核失败");
            }
        })
    }

    //审核未通过
    function Update2(Id) {
        $.ajax("http://192.168.0.190:8085/api/RequList/UpdPurState2?Id=" + Id, {
            type: "get",
            dataType: "text"
        }).done(function (da) {
            if (da > 0) {
                alert("审核成功");
                window.location.reload();
            }
            else {
                alert("审核失败");
            }
        })
    }

    //指派
    $("#zhipai").click(function () {
        Id = $("input[type='radio']:checked").val();
        if (Id != null) {
            window.location.href = "/RequShow/GetRoleList?QgId=" + Id;
        }
        else {
            alert("请选择一个");
        }
    })

    //撤回
    $("#chehui").click(function () {
        Id = $("input[type='radio']:checked").val();
        if (Id != null) {
            //判断采购处理人是否为空
            if (name1 == null) {
                alert("不能撤回为null的值，请重新选择");
            }
            else {
                $.ajax("http://192.168.0.190:8085/api/RequList/CheHuiPur?Id=" + Id, {
                    type: "get",
                    dataType: "text"
                }).done(function (da) {
                    if (da > 0) {
                        alert("撤回成功");
                        window.location.reload();
                    }
                    else {
                        alert("撤回失败");
                    }
                })
            }
        }
        else {
            alert("请选择要删除的采购单");
        }
    })

    //编辑
    function edit(CId, Id) {
        window.location.href = "/PurShow/FanTPur?CId=" + CId + "&Id=" + Id;
    }

    //添加
    $("#add").click(function () {
        window.location.href = "/PurShow/AddPur";
    })
</script>