
@{
    ViewData["Title"] = "Edit";
}

<link href="~/layuiadmin/layui/css/layui.css" rel="stylesheet" />
<link href="~/layuiadmin/style/admin.css" rel="stylesheet" />

<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px">
    <legend>编辑员工信息</legend>
</fieldset>


<div class="layui-form-item">
    <label class="layui-form-label" style="width:100px">员工编号</label>
    <div class="layui-input-inline">
        <input type="tel" placeholder="请输入姓名" id="RoleCode" name="phone" style="width:300px" lay-verify="required|phone" autocomplete="off" class="layui-input">
    </div>
</div>

<div class="layui-inline">
    <label class="layui-form-label" style="width:100px">员工姓名</label>
    <div class="layui-input-inline">
        <input type="hidden" id="eid" value="@ViewBag.Id" />
        <input type="tel" placeholder="请输入姓名" id="RoleName" name="phone" style="width:300px" lay-verify="required|phone" autocomplete="off" class="layui-input">
    </div>
</div>
<br />
<div class="layui-inline">
    <label class="layui-form-label" style="width:100px">员工账号</label>
    <div class="layui-input-inline">
        <input type="tel" name="phone" placeholder="请输入账号" id="RoleAccount" style="width:300px" lay-verify="required|phone" autocomplete="off" class="layui-input">
    </div>
</div>


<div class="layui-form-item">
    <label class="layui-form-label" style="width:100px">单选框</label>
    <div class="layui-input-block">
        <input type="radio" name="sex" id="man" value="男">男
        <input type="radio" name="sex" id="woman" value="女">女
    </div>
</div>
<div class="layui-form-item">
    <label class="layui-form-label" style="width:100px">部门名称</label>
    <div class="layui-input-block" style="width:300px">
        <select name="city" lay-filter="test" lay-verify="required" id="RolName">
            <option value="">请选择部门</option>

        </select>
    </div>
</div>
<div class="layui-inline">
    <label class="layui-form-label" style="width:100px">手机号</label>
    <div class="layui-input-inline">
        <input type="text" name="phone" style="width:300px" placeholder="请输入手机号" id="RoleTel" lay-verify="required|phone" autocomplete="off" class="layui-input">
    </div>
</div>
<div class="layui-form-item">
    <label class="layui-form-label" style="width:100px">直属上级</label>
    <div class="layui-input-block">
        <select name="city" lay-verify="required" id="RoleTop" onchange="change(this.value)">
            <option value="">请选择</option>

        </select>
    </div>
</div>
<div class="layui-form-item">
    <label class="layui-form-label" style="width:100px">选择职位</label>
    <div class="layui-input-block">
        <select name="city" lay-verify="required" id="RoleJob">
            <option value="">请选择</option>
        </select>
    </div>
</div>
<div style="margin-left:220px">
    <button type="button" class="layui-btn" onclick="Role_Add()">保存</button>
    <button type="button" class="layui-btn" onclick="Back()">返回</button>
</div>
<script>

    //初始化
    $(function () {

        Allt_Dep();
        Role_Top();
        show();    
    })

    //部门绑定
    function Allt_Dep() {
        $.ajax({
            url: "http://192.168.0.190:8085/api/RBAC_Role/GetDep",
            type: "get",
        }).done(function (data) {
            $("#RolName").empty();
            $.each(data, function (Index, item) {
                var option = '<option value=' + item.dep_ID + '>' + item.dep_Name + '</option>';
                $("#RolName").append(option);
            })
            layui.use('form', function () {
                var form = layui.form;
                form.render();
            });
        })
    }

    //直属上级绑定
    function Role_Top() {
        $.ajax({
            url: "http://192.168.0.190:8085/api/RBAC_Role/GetJob?RoleId=0",
            type: "get",
        }).done(function (data) {
            $("#RoleTop").empty();
            $.each(data, function (Index, item) {
                var option = '<option value=' + item.job_ID + '>' + item.job_Name + '</option>';
                $("#RoleTop").append(option);
            })
            change($("#RoleTop").val());
        })
    }

    //职位绑定
    function change(id) {
        $.ajax({
            url: "http://192.168.0.190:8085/api/RBAC_Role/GetJob?RoleId=" + id,
            type: "get",
        }).done(function (data) {
            $("#RoleJob").empty();
            $.each(data, function (Index, item) {
                var option = '<option value=' + item.job_ID + '>' + item.job_Name + '</option>';
                $("#RoleJob").append(option);
            })
        })
    }
    //反填
    function show() {
        var Eid = $("#eid").val();
        $.ajax({
            url: "http://192.168.0.190:8085/api/RBAC_Role/FanRole?Id=" + Eid,
            type: "get"
        }).done(function (data) {
            $("#RoleCode").val(data.role_Code);
            $("#RoleName").val(data.role_Name);
            $("#RoleAccount").val(data.role_Account);
            //单选框
            if (Boolean(data.RoleSex) == true) {
                //给单选框:是加一个checked属性表示选中
                $("#man").prop("checked", true);
            }
            else {
                $("#woman").prop("checked", true);
            }
            $("#RoleTel").val(data.role_Tel);
            $("#RoleTop").val(data.job_ID);
            $("#RolName").val(data.dep_ID);
            change(data.job_ID);
            $("#RoleJob").val(data.job_ID);
        })
    }

    //保存修改信息
    function Role_Add() {
        //编号
        if (jQuery('#RoleCode').val() == "") {
            jQuery('#RoleCode').focus();
            alert("编号不能为空！");
            return;
        }
        //正则表达式
        var reg = /^[^\s]*$/;
        if (!reg.test(jQuery('#RoleCode').val())) {
            jQuery('#RoleCode').focus();
            alert("编号不能输入空格！");
            return;
        }
        var rolecode = $("#RoleCode").val();
        var myReg = /^[a-zA-Z0-9_]{0,}$/;
        if (!myReg.test(rolecode)) {
            alert("编号不能含有中文")
            return;
        }
        //姓名
        if (jQuery('#RoleName').val() == "") {
            jQuery('#RoleName').focus();
            alert("名称不能为空！");
            return;
        }
        var custname = $("#RoleName").val();
        var reg = /[^u4e00-u9fa5]/;
        if (!reg.test(custname)) {
            alert("名称只能输入汉字");
            return;
        }
        //正则表达式
        var reg = /^[^\s]*$/;
        if (!reg.test(jQuery('#RoleName').val())) {
            jQuery('#RoleName').focus();
            alert("名称不能输入空格！");
            return;
        }
        //账号
        if (jQuery('#RoleAccount').val() == "") {
            jQuery('#RoleAccount').focus();
            alert("账号不能为空！");
            return;
        }
        //正则表达式
        var reg = /^[^\s]*$/;
        if (!reg.test(jQuery('#RoleAccount').val())) {
            jQuery('#RoleAccount').focus();
            alert("账号不能输入空格！");
            return;
        }
        var rolecode = $("#RoleAccount").val();
        var myReg = /^[a-zA-Z0-9_]{0,}$/;
        if (!myReg.test(rolecode)) {
            alert("账号不能含有中文")
            return;
        }
        //手机号
        if (jQuery('#RoleTel').val() == "") {
            jQuery('#RoleTel').focus();
            alert("手机号不能为空！");
            return;
        }
        //正则表达式
        var reg = /^[^\s]*$/;
        if (!reg.test(jQuery('#RoleTel').val())) {
            jQuery('#RoleTel').focus();
            alert("手机不能输入空格！");
            return;
        }
        var re = /^1[34578]\d{9}$/;
        if (!re.test($("#RoleTel").val())) {
            return alert("请输入正确的手机号");
        }

        //部门名称
        if (jQuery('#RolName').val() == "") {
            jQuery('#RolName').focus();
            alert("部门不能为空！");
            return;
        }

        //直属上级
        if (jQuery('#RoleTop').val() == "") {
            jQuery('#RoleTop').focus();
            alert("上级不能为空！");
            return;
        }

        //职位
        if (jQuery('#RoleJob').val() == "") {
            jQuery('#RoleJob').focus();
            alert("职位不能为空！");
            return;
        }
        var obj = {
            "ID": $("#eid").val(),
            "Role_Code": $("#RoleCode").val(),
            "Role_Name": $("#RoleName").val(),
            "Role_Account": $("#RoleAccount").val(),
            "RoleSex": $("input[type='radio']:checked").val(),
            "Role_Tel": $("#RoleTel").val(),
            "Job_ID": $("#RoleJob").val(),
            "Dep_ID": $("#RolName").val()
        };
        $.ajax({
            url: "http://192.168.0.190:8085/api/RBAC_Role/Update_Role",
            data: obj,
            type: "post",
            dataType: "text",
            accepts: "application/x-www-form-urlencoded",
            contentType: "application/x-www-form-urlencoded",
        }).done(function (data) {
            if (data > 0) {
                alert("编辑成功");
                window.location.href = "/RBAC_Role/Index";
            }
        })
    }
    function Back() {
        window.location.href = "/RBAC_Role/Index";
    }

</script>

