<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - IOT_ErpManageSystem.View</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/layuiadmin/layui/css/modules/layer/default/layer.css" rel="stylesheet" />
    <link href="~/layuiadmin/layui/css/layui.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/layuiadmin/layui/layui.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/MVC alter弹窗样式/alert_titleimg/js/jquery-1.7.1.min.js"></script>
    <script src="~/MVC alter弹窗样式/alert_titleimg/js/ui.js"></script>
    <link href="~/MVC alter弹窗样式/alert_titleimg/css/style.css" rel="stylesheet" />
    <script src="~/alert_titleimg/js/jquery-1.7.1.min.js"></script>
    <script src="~/alert_titleimg/js/ui.js"></script>
    <link href="~/alert_titleimg/css/style.css" rel="stylesheet" />

</head>
<body>

    @RenderBody()

</body>
</html>
