
@{
    ViewData["Title"] = "FanTRequList1";
}


<h5>基本信息</h5>
<input type="text" value="@ViewBag.QId" id="qid" hidden="hidden" />
<input type="text" value="@ViewBag.QgId" id="id" hidden="hidden" />

<table class="layui-table">
    <tr>
        <td>请购创建日期</td>
        <td><input type="text" id="time" disabled="disabled" /></td>
    </tr>
    <tr>
        <td>到货地址</td>
        <td><input type="text" id="address" /></td>
    </tr>
    <tr>
        <td>请购人员</td>
        <td><input type="text" id="qgname" /></td>
        <td>所在部门</td>
        <td><input type="text" id="dept" /></td>
    </tr>
</table>
<br />

添加商品
<input type="button" value="添加" id="add" class="layui-btn" onclick="showadd()" />
<table class="layui-table">
    <tr>
        <td>商品编号</td>
        <td>商品名称</td>
        <td>规格</td>
        <td>单位</td>
        <td>采购数量</td>
        <td>可用量</td>
        <td>现存量</td>
        <td>商品采购价</td>
        <td>小计</td>
        <td>操作</td>
    </tr>
    <tbody id="body"></tbody>
</table>
<br />


<input type="button" value="保存" id="update" class="layui-btn" />
<input type="button" value="返回" id="back" class="layui-btn layui-btn-normal" />

<script src="~/lib/jquery/dist/jquery.js"></script>

<script>
    //初始化
    $(function () {
        show();   //显示反填信息
        showlist();   //显示商品信息
    })

    //显示反填信息
    function show() {
        $.ajax("http://localhost:52645/api/RequList/FanTRequ?QId=" + $("#qid").val(), {
            data: "get",
            dataType: "json"
        }).done(function (da) {
            $("#time").val(da.createDate.substring(0, 10))
            $("#address").val(da.dhAddress)
            $("#qgname").val(da.qgName)
            $("#dept").val(da.deptName)
        })
    }

    //显示商品信息
    function showlist() {
        $.ajax("http://localhost:52645/api/RequList/GetRequGoods?Id=" + $("#id").val(), {
            type: "get",
            dataType: "json"
        }).done(function (da) {
            //清空
            $("#body").empty();

            //循环
            $.each(da, function (index, item) {
                var str = "<tr>"
                    + "<td>" + item.goodsId + "</td>"
                    + "<td>" + item.goodsName + "</td>"
                    + "<td>" + item.goodsRule + "</td>"
                    + "<td>" + item.sku + "</td>"
                    + "<td>" + item.buyNum + "</td>"
                    + "<td>" + item.goodsStock + "</td>"
                    + "<td>" + item.goodsStock + "</td>"
                    + "<td>" + item.goodsPrices + "</td>"
                    + "<td>" + (item.goodsPrices * item.buyNum) + "</td>"
                    + "<td><input type='button' value='删除'  class='layui-btn layui-btn-warm layui-btn-sm' onclick='shan(" + item.rpgid + ")' /></td>"
                    + "</tr>";
                $("#body").append(str);
            })
        })
    }

    //添加商品信息
    function showadd() {
        layui.use('layer', function () {
            var layer = layui.layer;

            //页面层
            layer.open({
                type: 1,
                title: '添加商品',
                area: ['1000px', '500px'],
                content: '<table class="layui-table"><tr>'
                    + '<td><input type="checkbox" id="ck"  onclick="cks()" lay-skin="primary" /></td>'
                    + '<td>商品编号</td>'
                    + '<td>商品名称</td>'
                    + '<td>商品售价</td>'
                    + '<td>商品库存</td>'
                    + '</tr>'
                    + '<tbody id="tbody"></tbody></table>'
                    + '购买量  <input type="number" id="num"> <br />'
                    + '<input type="button" onclick="Save()" value="保存" style="background-color:forestgreen" class="layui-btn layui-btn-normal" />'
            })
        });

        goodshow();   //查询商品信息

    }

    //查询商品信息
    function goodshow() {
        $.ajax("http://localhost:52645/api/RequList/SelectGoods", {
            type: "get",
            dataType: "json"
        }).done(function (da) {
            $("#tbody").empty();

            $.each(da, function (index, item) {
                var str = "<tr>"
                    + "<td><input type='checkbox' class='chk' value='" + item.id + "' /></td>"
                    + "<td>" + item.goodsName + "</td>"
                    + "<td>" + item.goodsBrand + "</td>"
                    + "<td>" + item.goodsPrices + "</td>"
                    + "<td>" + item.goodsStock + "</td>"
                    + "</tr>";

                $("#tbody").append(str);
            })
        })

    }

    //全选反选
    function cks() {
        if ($("#ck").prop("checked") == true) {
            $(".chk").prop("checked", true);
        }
        else {
            $(".chk").prop("checked", false);
        }
    }

    function Save() {
        var ids = "";
        //获取复选框的值
        $(".chk").each(function (index, item) {
            if ($(item).prop("checked") == true) {
                ids = ids + $(item).val() + ",";
            }
        })

        ids = ids.substr(0, ids.length - 1);
        if (ids == "") {
            alert("请选择商品");
            return;
        }
        else {
            //判断是否输入数量
            if ($("#num").val() == "" || $("#num").val() == undefined || $("#num").val() == null || $("#num").val() < 0) {
                alert("请输入数量,并且不能为负数");
                return;
            }

            $.ajax("http://localhost:52645/api/RequList/AddRequGood", {
                type: "post",
                data: { GId: ids, Num: $("#num").val() },
                dataType: "json",
                contentType: "application/x-www-form-urlencoded",
                accepts: "application/x-www-form-urlencoded"
            }).done(function (da) {
                if (da==1) {
                    alert("添加成功");
                    window.location.reload();
                }
                else if (da==-1)
                {
                    alert("添加数据不全！");
                }
                else {
                    alert("添加失败");
                }
            })
        }
    }

    //删除
    function shan(Id) {
        if (confirm("确认要删除吗?")) {
            $.ajax("http://localhost:52645/api/RequList/DeleteGoods?RpgId=" + Id, {
                type: "get",
                dataType: "text",
            }).done(function (da) {
                if (da > 0) {
                    alert("删除成功");
                    window.location.reload();
                }
                else {
                    alert("删除失败");
                }
            })
        }
    }

    //修改
    $("#update").click(function () {
        var obj = {
            "QgId": $("#id").val().toString(),
            "QId": $("#qid").val().toString(),
            "DhAddress": $("#address").val(),
            "QgName": $("#qgname").val(),
            "DeptName": $("#dept").val()
        };


        if (obj.DhAddress == "") {
            alert("请输入地址");
            return;
        }
        if (obj.QgName == "") {
            alert("请输入请购人姓名");
            return;
        }
        if (obj.DeptName == "") {
            alert("请输入部门名称");
            return;
        }

        $.ajax("http://localhost:52645/api/RequList/UpdateRequ", {
            type: "post",
            data: obj,
            dataType: "json",
            contentType: "application/x-www-form-urlencoded",
            accepts: "application/x-www-form-urlencoded"
        }).done(function (da) {
            if (da > 0) {
                alert("修改成功");
                window.location.href = "/RequShow/GetRequList";
            }
            else {
                alert("修改失败");
            }
        })
    })

    //返回
    $("#back").click(function () {
        window.location.href = "/RequShow/GetRequList";
    })
</script>
