
@{
    ViewData["Title"] = "FanTRequList";
}


<h5>基本信息</h5>
<input type="text" value="@ViewBag.QId" id="qid" hidden="hidden" />
<input type="text" value="@ViewBag.QgId" id="id" hidden="hidden" />

<table class="layui-table">
    <tr>
        <td>请购创建日期</td>
        <td><input type="text" id="time" disabled="disabled" /></td>
    </tr>
    <tr>
        <td>到货地址</td>
        <td><input type="text" id="address" /></td>
    </tr>
    <tr>
        <td>请购人员</td>
        <td><input type="text" id="qgname" /></td>
        <td>所在部门</td>
        <td><input type="text" id="dept" /></td>
    </tr>
</table>
<br />

添加商品
<input type="button" value="添加" id="add" class="layui-btn" />
<table class="layui-table">
    <tr>
        <td>商品编号</td>
        <td>商品名称</td>
        <td>规格</td>
        <td>单位</td>
        <td>采购数量</td>
        <td>可用量</td>
        <td>现存量</td>
        <td>商品采购价</td>
        <td>小计</td>
        <td><input type="button" onclick="shan()" /></td>
    </tr>
    <tbody id="body"></tbody>
</table>
<br />

商品编号
<select id="goodid"><option value="请选择">请选择</option></select><br />

<input type="button" value="保存" id="update" class="layui-btn" />

<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    //初始化
    $(function () {
        show();
        showlist();
        BingXia();
    })

    //显示反填信息
    function show() {
        $.ajax("http://localhost:52645/api/RequList/FanTRequ?QId=" + $("#qid").val(), {
            data: "get",
            dataType: "json"
        }).done(function (da) {
            $("#time").val(da.createDate.substring(0, 10))
            $("#address").val(da.dhAddress)
            $("#qgname").val(da.qgName)
            $("#dept").val(da.deptName)
        })
    }

    //显示商品信息
    function showlist() {
        $.ajax("http://localhost:52645/api/RequList/GetRequGoods?Id=" + $("#id").val(), {
            type: "get",
            dataType: "json"
        }).done(function (da) {
            //清空
            $("#body").empty();

            //循环
            $.each(da, function (index, item) {
                var str = "<tr>"
                    + "<td>" + item.goodsId + "</td>"
                    + "<td>" + item.goodsName + "</td>"
                    + "<td>" + item.goodsRule + "</td>"
                    + "<td>" + item.sku + "</td>"
                    + "<td>" + item.buyNum + "</td>"
                    + "<td>" + item.kyNum + "</td>"
                    + "<td>" + item.goodsStock + "</td>"
                    + "<td>" + item.goodsPrices + "</td>"
                    + "<td>" + (item.goodsPrices * item.buyNum) + "</td>"
                    + "<td><input type='button' value='删除'  onclick='shan(" + item.rpgid + ")' /></td>"
                    + "</tr>";
                $("#body").append(str);
            })
        })
    }


    //绑定商品下拉框
    function BingXia() {
        $.ajax("http://localhost:52645/api/RequList/GetChaGoodsID", {
            type: "get",
            dataType: "json"
        }).done(function (da) {
            $("#goodid").empty();

            $.each(da, function (index, item) {
                var str = "<option value="+item.id+ ">" + item.id + "</option>";
                $("#goodid").append(str);
            })
        })
    }

    //添加商品
    $("#add").click(function () {
        var obj = {
            "QPId": $("#id").val(),
            "GId": $("#goodid").val()
        };

        $.ajax("http://localhost:52645/api/RequList/AddRequGoods", {
            type: "post",
            data: obj,
            dataType: "json",
            contentType: "application/x-www-form-urlencoded",
            accepts:"application/x-www-form-urlencoded"
        }).done(function (da) {
            if (da > 0) {
                alert("添加成功");
                window.location.reload();
            }
            else {
                alert("添加失败");
            }
        })
    })

    //删除
    function shan(Id) {
        if (confirm("确认要删除吗?")) {
            $.ajax("http://localhost:52645/api/RequList/DeleteGoods?RpgId=" + Id, {
                type: "get",
                dataType: "text",
            }).done(function (da) {
                if (da > 0) {
                    alert("删除成功");
                    window.location.reload();
                }
                else {
                    alert("删除失败");
                }
            })
        }
    }

    //修改
    $("#update").click(function () {
        var obj = {
            "QId": $("#qid").val().toString(),
            "DhAddress": $("#address").val(),
            "QgName": $("#qgname").val(),
            "DeptName": $("#dept").val()
        };

        $.ajax("http://localhost:52645/api/RequList/UpdateRequ", {
            type: "post",
            data: obj,
            dataType: "json",
            contentType: "application/x-www-form-urlencoded",
            accepts: "application/x-www-form-urlencoded"
        }).done(function (da) {
            if (da > 0) {
                alert("修改成功");
                window.location.href="/RequShow/GetRequList";
            }
            else {
                alert("修改失败");
            }
        })
    })
</script>
