
@{
    ViewData["Title"] = "GetAddRequ";
}

<h1>GetAddRequ</h1>

<table class="layui-table">
    <tr>
        <td>到货地址</td>
        <td><input type="text" id="address" /></td>
    </tr>
    <tr>
        <td>请购人员</td>
        <td><input type="text" id="qgname" /></td>
        <td>所在部门</td>
        <td><input type="text" id="dept" /></td>
    </tr>
    <tr>
        <td colspan="2">
            <input type="button" id="add" value="添加" class="layui-btn" />
            <input type="button" id="back" value="返回" class="layui-btn layui-btn-normal" />
        </td>
    </tr>
</table>

<script src="~/lib/jquery/dist/jquery.js"></script>

<script>

    //添加
    $("#add").click(function () {
        var obj = {
            "CreateDate": $("#time").val().toString(),
            "DhAddress": $("#address").val().toString(),
            "QgName": $("#qgname").val().toString(),
            "DeptName": $("#dept").val().toString(),
        };

        if (obj.DhAddress == "") {
            alert("请输入地址");
            return;
        }
        if (obj.QgName == "") {
            alert("请输入请购人姓名");
            return;
        }
        if (obj.DeptName == "") {
            alert("请输入部门名称");
            return;
        }

        $.ajax("http://localhost:52645/api/RequList/AddRequInfo", {
            type: "post",
            data: { m: obj },
            dataType: "json",
            accepts: "application/x-www-form-urlencoded",
            contentType: "application/x-www-form-urlencoded"
        }).done(function (da) {
            if (da > 0) {
                alert("添加成功");
                window.location.href = "/RequShow/GetRequList";
            }
            else {
                alert("添加失败");
            }
        })
        
    })

    //返回
    $("#back").click(function () {
        window.location.href = "/RequShow/GetRequList";
    })
</script>