
@{
    ViewData["Title"] = "GetAddRequ";
}

<h1>GetAddRequ</h1>

<table class="layui-table">
    <tr>
        <td>到货地址</td>
        <td><input type="text" id="address" /></td>
    </tr>
    <tr>
        <td>请购人员</td>
        <td>
            <select id="qgname">
                <option value="请选择">请选择</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>所在部门</td>
        <td>
            <select id="dept">
                <option value="请选择">请选择</option>
            </select>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <input type="button" id="add" value="添加" class="layui-btn" />
            <input type="button" id="back" value="返回" class="layui-btn layui-btn-normal" />
        </td>
    </tr>
</table>

<script src="~/lib/jquery/dist/jquery.js"></script>

<script>
    var reg =/^[^\s]*$/;

      //绑定员工名称
    $.ajax("http://localhost:52645/api/RequList/SelectRole", {
        type: "get",
        dataType: "json",
    }).done(function (da) {

        $.each(da, function (index, item) {
            var str = "<option value='" + item.role_Name + "'>" + item.role_Name + "</option>";
            $("#qgname").append(str);
        })
    })
    //绑定部门名称
    $.ajax("http://localhost:52645/api/RequList/SelectDep", {
        type: "get",
        dataType: "json",
    }).done(function (da) {

        $.each(da, function (index, item) {
            var str = "<option value='" + item.dep_Name + "'>" + item.dep_Name + "</option>";
            $("#dept").append(str);
        })
    })
    //添加
    $("#add").click(function () {
        var obj = {
            "DhAddress": $("#address").val().toString(),
            "QgName": $("#qgname").val().toString(),
            "DeptName": $("#dept").val().toString(),
        };

        if (obj.DhAddress == "" || obj.DhAddress == undefined || obj.DhAddress == null) {
            alert("请输入地址");
            return;
        }
        if (!reg.test(obj.DhAddress)) {
            alert("不能输入空格！");
            return;
        }

        if (obj.QgName == "请选择") {
            alert("请选择请购人");
            return;
        }
        if (obj.DeptName == "请选择") {
            alert("请选择部门");
            return;
        }

        $.ajax("http://192.168.0.190:8085/api/RequList/AddRequInfo", {
            type: "post",
            data: { m: obj },
            dataType: "json",
            accepts: "application/x-www-form-urlencoded",
            contentType: "application/x-www-form-urlencoded"
        }).done(function (da) {
            if (da > 0) {
                alert("添加成功");
                window.location.href = "/RequShow/GetRequList";
            }
            else {
                alert("添加失败");
            }
        })
        
    })

    //返回
    $("#back").click(function () {
        window.location.href = "/RequShow/GetRequList";
    })
</script>